// Vendor Prefix Mixin
//
// add the vendor/browser prefix of: -webkit, -moz, -ms and -o when required
//
// @author Daniel Jackson
// @version 0.1
//
@mixin prefix($property, $value, $vendors: webkit moz ms o){
	@if $vendors{
		@each $vendor in $vendors{
			#{"-" + $vendor + "-" + $property}: #{$value};
		}
	}
	#{$property}: #{$value};
}

// Custom Button Mixin
//
// allow custom buttons to be created - parameters assigned with values for each button
// components/_buttons.scss 'Custom Buttons'
//
// @author Daniel Jackson
// @version 0.1
//
// @param 1 - unique name of the button
// @param 2 - button background colour
// @param 3 - button hover colour
// @param 4 - button text colour
// @param 5 - border
//
@mixin button($button-name, $button-color, $button-color-hover, $button-color-text, $button-border){
	.#{$button-name}-button{
		@extend button;
		background-color: $button-color;
		color: $button-color-text;
		&:hover, &:active, &:focus{
			background-color: $button-color-hover;
		}
	}
}