// Grid
//
// Responsive Grid Structure
//
// @author Daniel Jackson
// @version 0.1
//
*, *:after, *:before{
    margin: 0;
    padding: 0;
    //@include border-box;
    @extend %border-box;
}

// Removed until later version
//     
// img {
    // width: auto;
    // max-width: 100%;
    // height: auto !important; 
    // }   
// 

.wrapper{
    width: 100%;
    margin: 0 auto;
}
 
.wrapper, .row{
    @extend %clearfix;
}
      
[class*='column-']{
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px; 
}   
 
@media #{$breakpoint-medium}{
    .wrapper{      
        width: 95%;
        max-width: $grid-max-width;     
    }
    @for $i from 1 through $grid-columns{      
        .column-#{$i}{         
            width: 100% / $grid-columns * $i;   
        }           
    }   
}