%clearfix{
	.cf:before,
	.cf:after{
		content: " ";
		display: table;
        clear: both;
	}
	.cf:after{
		clear: both;
	}
	.cf{
		*zoom: 1;
	}
}

*, *:before, *:after{
    margin: 0;
    padding: 0;
    @extend %border-box;
}

.wrapper{
    width: $full;
    margin: 0 auto;
    // for page footer
    min-height: $full;
    // equal to the footer height
    margin-bottom: -$footer-height;
}

.wrapper:after{
    content: "";
    display: block;
    height: $footer-height;
    margin-bottom: $footer-spacing;
    clear: both;
}
 
.wrapper, .row{
    @extend %clearfix;
}
      
[class*='column-']{
    float: left;
    padding: 1em;
    width: $full;
    min-height: 1px; 
}   
 
@media #{$breakpoint-medium}{
    .wrapper{      
        width: 95%;
        max-width: $grid-max-width;     
    }
    @for $i from 1 through $grid-columns{      
        .column-#{$i}{         
            width: $full / $grid-columns * $i;   
        }           
    }   
}
@media #{$breakpoint-small}{
    button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 95%;
    }
}